/* Ensure the overlay covers the entire screen */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the modal content */
.ReactModal__Content {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  max-height: 70vh;
}

/* Style the form and its elements */
form label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Add margin to the first label to create space between title and first input field */
form label:first-of-type {
  margin-top: 30px;
}

form input[type="text"],
form input[type="date"],
form input[type="file"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

form input[type="checkbox"] {
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}
